body {
	font-family: 'Montserrat', sans-serif;
	background: white;
}

.logo{
	background: linear-gradient(to right,black,white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-size: 6vmax;
	font-weight: 500;
}

.chart_container{
	background: white;
	width: 85vw;
	height: 42vw;
	margin-left: 4vw;
	margin-right: 4vw;
	border-style: solid;
	border-color: white;
	border-radius: 2vw;
	padding: 2vw;
	box-shadow: 0.1vw 0.1vw 0.1vw #888888;
}	

.chart_container_bar{
	background: white;
	width: 85vw;
	height: 42vw;
	margin-top: 3vw;
	margin-left: 4vw;
	margin-right: 4vw;
	margin-bottom: 1.5vw;
	border-style: solid;
	border-color: white;
	border-radius: 2vw;
	padding: 2vw;
	box-shadow: 0.1vw 0.1vw 0.1vw #888888;
}

.chart_container:hover {
	transform: scale(1.02, 1.02);
	box-shadow: 0.1vw 0.1vw 3vw #888888;
	transition: all 0.2s ease-in;
}

.chart_container:not(:hover) {
	transform: scale(1, 1);
	box-shadow: 0.1vw 0.1vw 0.1vw #888888;
	transition: all 0.2s ease-in;
}

.chart_container_bar:hover {
	transform: scale(1.02, 1.02);
	box-shadow: 0.1vw 0.1vw 3vw #888888;
	transition: all 0.2s ease-in;
}

.chart_container_bar:not(:hover) {
	transform: scale(1, 1);
	box-shadow: 0.1vw 0.1vw 0.1vw #888888;
	transition: all 0.2s ease-in;
}
